@import "materialize";

 // /*utility classes*/

 .textalign {text-align: center}

.bold {font-weight: bold}

nav a {
  text-decoration: none;
}

nav {background-color: #3C989E}

nav .nav-sprite {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-V3-2x_optimized._CB516556901_.png);
    background-size: 350px;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
}

.countingItems {
  position: absolute;
  right: 20px;
  top: -11px;
  z-index: 99;
  display: block;
  padding: 0px 15px 0px 15px;
}

.destroyed {
  background: #3C989E;
  border: none;
  color: black;
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

// @media (max-width:320px)  {
//   body {background: red}
// }
